label {
  margin-right: 10px;
}

.title {
  margin-top: 50px;
}

.size, .toppings {
  text-align: center;
}

body {
  background-color: #F7D774;
  color: #F7D774;
}

button {
  color: #BE322A;
  background-color: #F2AB3B;
  margin-top: 10px;
}

button:active {
  color: transparent;
  text-shadow: 1px 1px #BE322A;
}

.result {
  display: none;
  color: #352313;
}

h4 {
  margin-bottom: 0px;
}

.well {
  background-color: #352313;
  border: #F2AB3B solid;
}

h3, img {
  margin: 0px;
  color: #352313;
}

h1 {
  margin-top: 80px;
}

.pizza {
  width: 75%;
  margin: auto;
}

.jumbo {
  padding: 0px;
  height: 300px;
  color: #F7D774;
  background-color: #352313;
  border: #F2AB3B solid;
}

.lefty {
  text-align: left;
}

.middley {
  text-align: center;
}

.righty {
  text-align: right;
}
