label {
  margin-right: 10px;
}

.title {
  margin-top: 50px;
}

.size, .toppings {
  text-align: center;
}

button {
  color: white;
  margin-top: 10px;
}

button:active {
  color: transparent;
  text-shadow: 2px 2px white;
}

.result {
  display: none;
}

h4 {
  margin-bottom: 0px;
}

h3, img {
  margin: 0px;
}

.lefty {
  text-align: left;
}

.middley {
  text-align: center;
}

.righty {
  text-align: right;
}
